:root{
  /* ---Color Palette--- */
  --main-dark:#212121;
  --sec-dark:#232323;
  --grey:#6e6e6e;
  --red:#ff0000;
  --white:#fff;
  --sub-white:#fafafa;
}

/* Delete The Default settings */
*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: 'inter' ,sans-serif;
}

body{
  background-color: var(--main-dark);
}

.main-container{
 margin: 0px 25px;
 height: 100vh;
 display: grid;
 grid-template-columns: repeat(12 ,1fr); 
 /* grid-template-rows: repeat(9 ,minmax(5px, 10px)); */
 grid-template-rows: repeat(9 ,1fr);
 
 
}
/* HEADER */

/* grid placing elements */
.main-header{
  grid-column: 1/-1;
  grid-row: 1/2;
  align-items: center;
  justify-content:space-between ;
  display: flex;
}
























.slides{
  grid-column: 4/-1;
  grid-row: 2/3;
  display: flex;
  
}
.main-menu{
  grid-column: 1/4;
  grid-row: 2/-1;
  /* display: flex; */
}

.content{
  grid-column: 4/-1;
  grid-row: 2/-1;
  display: flex;
}


.search-field{
  width: 30%;
  height: 20px;
}

